button {
    color: white;
    background-color: orangered;
    border-radius: 15px;
    width:15vh;
    border: none;
    height:5vh;
    cursor: pointer;
}

.db{
    bottom: 0%;
    position: fixed;
    width: 100%;
    display: none;
    height:10%;
    margin-top: 10%;
}
.card.customized{
    background-color: #EDF5FF;
}

.card-body.testing {
    align-self: center;
}

.df img {
    width: 100%;
    height: 100%;
}

.db button {
    background-image: linear-gradient(to right, #11429d 0%, #f22957 51%, #11429d 100%);
    animation: placeholderShimmer 10s linear 0s infinite normal forwards;
    width:25vh;
}

.spacing {
    display: none;
}


@media screen and (max-width: 768px) {
    .db
    {
        display: block;
    }

    .spacing {
        display: block;
        align-items: center;
        align-self: center;
        align-content: center;
    }
}
